@if (ViewBag.ErrorTitle == null)
{
    <h3 class="mt-5 text-danger">
        An occured while processing your request.
        The support team is notified and we are working on the fix
    </h3>
    <h5 class="text-danger">Please contact us on admin@gamestore.com</h5>

    <a asp-action="Index" asp-controller="Home" class="btn btn-success">
        Back to home page
    </a>

}
else
{
    <h1 class="text-danger mt-5">@ViewBag.ErrorTitle</h1>
    <h6 class="text-danger">@ViewBag.ErrorMessage</h6>
    <a class="btn btn-primary text-center btn-block col-12" asp-action="Index" asp-controller="Home">
        Back to home page
    </a>
}
