
@model GameSite.Models.GameViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header text-uppercase text-white" style="background-color: #375a7f !important;">
            <h4>Add New Game</h4>
        </div>
        <div class="card-body" style="background-color: #00a379">
            <form enctype="multipart/form-data" asp-action="Add" name="gameadd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GameName" class="control-label text-center"></label>
                            <input asp-for="GameName" class="form-control" placeholder="Enter Game Name"/>
                            <span asp-validation-for="GameName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GameCreator" class="control-label text-center" ></label>
                            <input asp-for="GameCreator" class="form-control" placeholder="Enter Game Creator"/>
                            <span asp-validation-for="GameCreator" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label asp-for="GenreId" class="control-label text-center">Genre name</label>
                        @Html.DropDownListFor(x => Model.GenreId, new SelectList(Model.Genres, "Value", "Text"), "Select a Genre",
                        htmlAttributes: new { @class = "form-control", id = "Genre" })
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                        <input asp-for="GenreName" class="form-control" hidden id="GenreName" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ConsoleId" class="control-label text-center">Console name</label>
                        @Html.DropDownListFor(x => Model.ConsoleId, new SelectList(Model.Consoles, "Value", "Text"), "Select a Console",
                       htmlAttributes: new { @class = "form-control", id = "Console" })
                        <span asp-validation-for="ConsoleId" class="text-danger"></span>
                        <input asp-for="ConsoleName" class="form-control" hidden id="ConsoleName" />
                    </div>

                </div>
                <div class="row form-group pt-5 ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <label asp-for="IsInStock" class="control-label"></label>
                            @Html.CheckBoxFor(m => m.IsInStock, new { @checked = "checked", @class = "form-control" })
                            <span asp-validation-for="IsInStock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <label asp-for="IsOnSale" class="control-label text-center"></label>
                            @Html.CheckBoxFor(m => m.IsOnSale, new { @checked = "checked", @class = "form-control" })
                            <span asp-validation-for="IsOnSale" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" rows="12" class="form-control" placeholder="Enter Game description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="Photo" class="col-12 col-form-label">Photo:</label>
                    <div class="col-12">
                        <div class="custom-file">
                            <input asp-for="Photo" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-success rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Home Page </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });

        $("#Genre").change(function () {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var textSelected = optionSelected.text();
            $("#GenreName").val(textSelected);
            console.log($("#GenreName").val(textSelected));
        });
        $("#Console").change(function () {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var textSelected = optionSelected.text();
            $("#ConsoleName").val(textSelected);
            console.log($("#ConsoleName").val(textSelected));
        });
    </script>
}
