
@model GameSite.Models.GameViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header text-uppercase text-white" style="background-color: #375a7f !important;">
            <h4>Add New Game</h4>
        </div>
        <div class="card-body" style="background-color: #00a379">
            <form  asp-action="Add" name="gameadd">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GameName" class="control-label text-center"></label>
                            <input asp-for="GameName" class="form-control" />
                            <span asp-validation-for="GameName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="GameCreator" class="control-label text-center"></label>
                            <input asp-for="GameCreator" class="form-control" />
                            <span asp-validation-for="GameCreator" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="GenreId" class="control-label text-center">Genre name</label>
                        @Html.DropDownListFor(x => Model.GenreId, new SelectList(Model.Genres, "Value", "Text"), "Select a genre", htmlAttributes: new { @class = "form-control", id = "Genre" })
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                        <input asp-for="GenreName" class="form-control" hidden id="GenreName" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ConsoleId" class="control-label text-center">Console name</label>
                        @Html.DropDownListFor(x => Model.ConsoleId, new SelectList(Model.Consoles, "Value", "Text"), "Select a console", htmlAttributes: new { @class = "form-control", id = "Console" })
                        <span asp-validation-for="ConsoleId" class="text-danger"></span>
                        <input asp-for="ConsoleName" class="form-control" hidden id="ConsoleName" />
                    </div>

                </div>
                <div class="row pt-5 ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <label asp-for="IsInStock" class="control-label"></label>
                            @Html.CheckBoxFor(m => m.IsInStock, new { @checked = "checked", @class = "form-control" })
                            <span asp-validation-for="IsInStock" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <label asp-for="IsOnSale" class="control-label text-center"></label>
                            @Html.CheckBoxFor(m => m.IsOnSale, new { @checked = "checked", @class = "form-control" })
                            <span asp-validation-for="IsOnSale" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <textarea asp-for="Description" rows="12" class="form-control" placeholder="Enter Game description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Photo" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var FileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(FileName);
        });

        $("#Genre").change(function () {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var textSelected = optionSelected.text();
            $("#GenreName").val(textSelected);
            console.log($("#GenreName").val(textSelected));
        });
        $("#Console").change(function () {
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            var textSelected = optionSelected.text();
            $("#ConsoleName").val(textSelected);
            console.log($("#ConsoleName").val(textSelected));
        });
    </script>
}
