@model LoginModel

@{
    ViewBag.Title = "User Login";
}

<h1 class="mt-5">User Login</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" id="email" class="form-control" />
                <span id="emailMsg"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="pass" class="form-control" />
                <span id="passMsg"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-success" id="btn">Login</button>
            <button class="btn btn-primary" asp-action="Register" asp-controller="Account">Register</button>
        </form>
    </div>
</div>


@section Scripts{


    <script type="text/javascript">

        $(document).ready(function () {
            // set initially button state hidden
            $("#btn").hide();
            // use keyup event on email field
            $("#email").keyup(function () {
                if (validateEmail()) {
                    // if the email is validated
                    // set input email border green
                    $("#email").css("border", "2px solid green");
                    // and set label
                    $("#emailMsg").html("<p class='text-success'>Valid email format</p>");
                } else {
                    // if the email is not validated
                    // set border red
                    $("#email").css("border", "2px solid red");
                    $("#emailMsg").html("<p class='text-danger'>Not a valid email format</p>");
                }
                buttonState();
            });
            $("#pass").keyup(function () {
                // check
                if (validatePassword()) {
                    $("#pass").css("border", "2px solid green");
                    //set passMsg
                    $("#passMsg").html("<p class='text-success'>Valid password format</p>");
                } else {
                    $("#pass").css("border", "2px solid red");
                    $("#passMsg").html("<p class='text-danger'>Not a valid password format</p>");
                }
                buttonState();
            });
        });

            function buttonState() {
                if (validateEmail() && validatePassword()) {
                    $("#btn").show();
                } else {
                    $("#btn").hide();
                }
            }
            function validateEmail() {
                var email = $("#email").val();
                var reg = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/
                if (reg.test(email)) {
                    return true;
                } else {
                    return false;
                }

            }
            function validatePassword() {
                var pass = $("#pass").val();
                var reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/
                if (reg.test(pass) && pass.length > 7) {
                    return true;
                } else {
                    return false;
                }
            }

    </script>
}
